<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
<head
   th:replace="common/head :: head_fragment(title = '情報編集', scripts = ~{::script}, links = ~{::link})"></head>
<body>
   <div class="container">
       <div th:if="${validationError}" th:each="error : ${validationError}">
       <label class="text-danger" th:text="${error}"></label>
       </div>
       <h1>情報編集</h1>
	   <form th:action="@{/subject/update}" th:object="${subjectUpdateRequest}" th:method="post">
       <input type="hidden" th:field="*{id}" />
       <div>
		<div class="form-group">
		       <label>名前：<span class="text-danger">※</span></label>
		       <input type="text" th:field="*{name}" class="form-control">
		     </div>	   
		 <div class="form-group">
		            <label>住所：<span class="text-danger">※</span></label>
		            <input type="text" th:field="*{address}" class="form-control">
		          </div>
			  <div class="form-group">
			  	           <label>電話番号：<span class="text-danger">※</span></label>
			  	           <input type="text" th:field="*{phone}" class="form-control">
			  		   </div>
			  		   	   
			  		   	   
			  		   	         <div class="form-group">
			  		   	           <label>参拝時間：<span class="text-danger">※</span></label>
			  		   	           <input type="text" th:field="*{Visitingtime}" class="form-control">
			  		   	         </div>
			         <br />
			         <div class="text-center">
						<input type="submit" value="　登録　" class="btn btn-primary">
					   <a href="/subject/list" class="btn btn-secondary">キャンセル</a>
			         </div>
			       </form>
			     </div>
			   </body>
			   </html>