<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チェックテスト 編集</title>
<!-- <link rel="stylesheet" href="goods Create.css">-->
<link th:href="@{/css/goodsUpdate.css}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="top">
            <h1>編集</h1>
			<form th:action="@{/goodsUpdate}" th:object="${updateUpdateRequest}" th:method="post">
                <div class="form">
                    <div class="main">
                        <div class="text">商品ID</div>
                        <div class="item">
                            <input type="text" th:field="*{id}">
                        </div>
                        <div class="text">商品名</div>
                        <div class="item">
                            <input type="text" th:field="*{name}">
                        </div>
                        <div class="text">カラー</div>
                        <div class="box">
                            <select th:field="*{color}">
                                <option value="">---選択---</option>
                                <option value="赤色">赤色</option>
                                <option value="ピンク色">ピンク色</option>
                                <option value="オレンジ色">オレンジ色</option>
                                <option value="黄色">黄色</option>
                                <option value="緑色">緑色</option>
                                <option value="青色">青色</option>
                                <option value="ムラサキ色">ムラサキ色</option>
                                <option value="黒色">黒色</option>
                                <option value="白色">白色</option>
                            </select>
                        </div>
                        <div class="text">在庫（L）</div>
                        <div class="count">
                            <input type="number" name="example" min="0" value="0" th:field="*{size_l}">
                        </div>
                        <div class="text">在庫(M)</div>
                        <div class="count">
                            <input type="number" name="example" min="0" value="0" th:field="*{size_m}">
                        </div>
						<div class="text">入荷日</div>
						<div class="create_date">
							<input type="date" th:field="*{create_date}">
						</div>
                        <div class="button-container">
                            <a th:href="@{/goodsList}" class="btn">戻る</a>
							<a th:href="@{/goodsUpdate/{id}/delete(id=*{id})}" class="btn1">削除</a>
                            <input type="submit" name="btn" value="登録" class="btn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>