#wrapper {
    margin: 0;
    padding: 0;
    background-color: rgb(152, 242, 214); /* 画面外側の背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .top{
    width: 80%;
    background-color: white; /* 内側のコンテンツの背景色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centr {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: rgb(97, 94, 94);
    padding-top: 10px;
    padding-right: 200px;
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* タイトル下部に余白を追加 */
    flex-grow: 1;
    text-align: center; /* h1を中央揃え */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.table th {
    font-size: 25px;
    text-align: left;
    padding: 10px 30px;
}

.table td {
    font-size: 22px;
    padding: 10px 30px;
}

.btn01 {
    padding: 10px;
    color: #000000;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;

}

.btn02 {
    display: block;
    width: 100px;
    padding: 5px;
    color: #000000;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin: auto;
}