#wrapper {
    /* 共通の処理 */
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    background-color: rgb(152, 242, 214);
    width: 300px;
    height: 100vh;
    float: left;
}

.right{
    background-color: rgb(152, 242, 214);
    height: 200px;
    
}

h1 {
    font-size: 50px;
    color: aliceblue;
    padding-top: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(97, 94, 94);
}

.table {
    margin: auto;
    border-collapse: collapse;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    height: 3.2rem;
}

.table th,
td {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.table th {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 10px 30px;
}

.table td {
    font-size: 22px;
    padding: 2px 18px;
}

.btn01 {
    float: right;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 80px 0px 0px;
    padding: 5px 10px 5px 10px;
    color: #000000;
    transition: 0.3s ease-in-out;
    border: 0.2rem solid rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 30px;
}

.btn02 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 2px 5px 2px;
    width: 100px;
    padding: 1px 5px 1px 5px;
    color: #000000;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: aliceblue;
}